<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Maintenance Page </title>
</head>
<body>
	<h1>Sorry..!!</h1>
	<p>We are under maintenance for now..please visit later.</p>
	{{> footer}}
</body>
</html>
